<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World Alcohol Consumption</title>

  <!-- Favicon for our website -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='beer_favicon.png') }}" />

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <!-- Import Plotly-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

  <h1 id="title">World Alcohol Consumption</h1>
  <!-- The div that holds our world map -->
  <div id="map"></div>

  <!-- Title for our pie chart -->
  <h3 id="title">Total Worldwide Servings of Alcohol by Type</h1>

  <!-- The div that holds our pie chart -->
  <canvas id="boozePie" height="30%"></canvas>

  <!-- The div for our hoverable dropdown -->
  <div class="dropdown">
    <button class="dropbtn">Alcohol Type</button>
    <div class="dropdown-content">
      <a class="btn" id="total-btn" onclick="updateChartTotalAlcohol()">Total Amount of Pure Alcohol</a>
      <a class="btn" id="beer-btn" onclick="updateChartBeer()">Beer</a>
      <a class="btn" id="wine-btn" onclick="updateChartWine()">Wine</a>
      <a class="btn" id="spirits-btn" onclick="updateChartSpirits()">Spirits</a>
    </div>
  </div>

  <!-- The div that holds the chart.js plot-->
  <canvas id="myChart" width="70%" height="400px"></canvas>

  <!-- Leaflet.js -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!-- D3.js -->
  <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- Data labels plugin for chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/leaflet.js"></script>
  <script type="text/javascript" src="../static/js/chart.js"></script>

</body>
</html>
